body {
  margin: 0%;
}
#container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: white;
}
#clickme {
 margin: auto;
 position: absolute;
 left: 50%;
 margin-right: -50%;
 top: 50%;
 transform: translate(-50%, -50%);
}
#clar {
 position: absolute;
}
html{
 cursor: url(/links:images/drone.png) 20 20, context-menu;
}