html, body {
  margin:0;
  padding:0;
  top:0;
  background-color: #ff99df;
}
fieldset {
  margin: 10%;
}
fieldset, #recipe {
  border-width: thick;
  border-color: #6cdf92;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  color: #585058;
}
legend, #recipe {
  background-color: #ffe600;
}
#recipe {
  margin: 8%;
  padding: 2%;
  border-style: inset;
}
.form {
  display: flex;
}
.labels, .inputs {
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-content: space-between;
}
h1 {
  margin: 0;
}
input, label {
  margin: 20px;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  color: #585058;
}
input[type=button] {
  border-color: #6cdf92;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}