html, body, .main {
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: url(/links:images/drone.png) 20 20, context-menu;
      }
.main {
  margin: 1em 0;
  clear: both;
  display: table;
}
.panel {
  text-align: center;
  align-self: stretch;
  resize: horizontal;
  overflow: auto;
}
.left{
  background-color: #f4f4f4;
  border-style: double;
  border-width: 30px;
  border-color: #333333;
  padding-top: 10%;
}
.leftText {
  font-size: 40px;
  font-family: 'Overpass Mono', monospace;
  font-weight: bold;
  color: blue;
}
.right{
  background-color: blue;
  background-image: url(/links:images/has_money.gif);
  background-repeat: repeat;
  padding-top: 30%;
}
.rightText {
  font-size: 70px;
  font-family: 'Plaster', cursive;
  color: #ff0050;
}
.main .panel {
    display: table-cell;
}
.file{
  position: absolute;
  cursor: move;
}
.label{
  font-family: Arial;
  font-size: 15px;
  text-align: center;
  margin: 0;
}
a:hover{cursor: url(/links:images/mike.png) 25 25, pointer;}