body, main {
height: 100%;
background-color: #EDF2F7;
}
main {
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 100px;
  font-family: 'Noto Serif', serif;
}
.head1 {
  font-size: 36px;
  font-weight: bolder;
  text-decoration: underline;
}
.project {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}
p, summary {
  font-size: 16px;
}
a {
  color: #FF23DA;
}
a:active, .collapsible:active {
  cursor: url(/links:images/hired.png) 20 20, context-menu;
}
.collapsible {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.collapsible p {
  margin: 0;
  margin-left: 5px;
  text-decoration: underline;
}
.collapsible:before {
  content: '\01F449';
}
.active:before {
  content: '\01F447';
}
.active, .collapsible:hover {
  color: #b8c0c6;
}
.details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}
video {
  padding-top: 10px;
  padding-bottom: 20px;
}