h1 {
  font-size: 60px;
  font-family: 'Plaster', cursive;
  color: black;
  text-decoration: line-through;
  text-decoration-style: wavy;
  text-decoration-color: #f900a6;
  background-color: #fff200;
}
body {
  background-color: #004FC6;
  color: white;
  margin: 0px;
  font-family: 'Overpass Mono', monospace;
  font-weight: 700;
  font-size: 20px;
  font-stretch: expanded;
  cursor: url(/links:images/drone.png) 20 20, context-menu;
}

a:visited {
  color: white;
  text-decoration: none;
  background-color: #004FC6;
}
a:hover {
  color: #FF3DC4;
  text-decoration: none;
  background-color: #FFFFFF;
  cursor: url(/links:images/mike.png) 25 25, pointer;
}
a:link {
  color: white;
  text-decoration: none;
  background-color: #004FC6;
}
.grid-container {
  margin: 30px;
  margin-right: 0px;
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "content content ideas content2"
  "zach- slider content1 dumb"
  "content3 slider content4 dumb"
  "content5 skinny content6 content7";
}
.dumb { grid-area: dumb; text-align: right;}
.slider { grid-area: slider;}
.zach- {
  grid-area: zach-;
  padding: 20px;
  vertical-align: middle;
}
.content {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://shrmn.toys/links:images/wormBorder.svg");
  background-size: 90% 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.content1 { grid-area: content1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://shrmn.toys/links:images/wormTail.svg");
  background-size: cover;
  background-position: top left;
}
.content2 {
  grid-area: content2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content3 {
  grid-area: content3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content4 {
  grid-area: content4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content5 {
  grid-area: content5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content6 {
  grid-area: content6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content7 {
  grid-area: content7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ideas {
  grid-area: ideas;
  padding: 20px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #00edb5;
  background-image: url("https://shrmn.toys/links:images/wormMid.svg");
  background-size: cover;
  background-position: bottom left;
}
#myRange {
  transform-origin: top left;
  transform: rotate(90deg);
  width: 500px;
  appearance: none;
}
input[type=range]{
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #000000;
  border: none;
  height: 10px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 100px; /* Set a specific slider handle width */
  height: 100px; /* Slider handle height */
  background-image: url("/links:images/creamBug.svg");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(270deg) translateX(47px);
  cursor: move; /* Cursor on hover */
}
input[type=range]::-moz-range-track {
  background: #000000;
  border: none;
  height: 10px;
}
input[type=range]::-moz-range-thumb {
  width: 100px; /* Set a specific slider handle width */
  height: 100px; /* Slider handle height */
  background-image: url("/links:images/creamBug.svg");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(270deg) translateX(47px);
  cursor: ns-resize;
}
.linker {
  font-family: 'Overpass Mono', monospace;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: blur(6px) saturate(500%);
}
.foot {
  text-align: right;
  margin-right: 40px;
}
.clicky {
  position: fixed;
  background-image: url("https://shrmn.toys/links:images/nuke.gif");
  animation: clicky 1s ease-out;
  z-index: 999;
  width: 40px;
  height: 40px;
}
@keyframes clicky{
  0%{
    opacity:1;
  }
  100%{
    opacity:1;
  }
}